@model SNHU.IT700.Application.Models.SearchFilterModel
@{
    ViewData["Title"] = "Search";
}

<!-- Select Picker -->
<link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
<script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>

<h1 class="border-bottom">Search our Databases</h1>

<div class="container px-5 my-5">
	<form id="contactForm" action="Search/Submit" method="post">
		<h3 class="border-bottom">Name: </h3>
		<div class="row">
			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- First Name
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="FirstNameText">
						First
					</span> 

					<input	type="text" 
							autocomplete="off" 
							class="form-control" 
							placeholder="first name..."
							id="FirstName"
							name="FirstName"
							aria-label="FirstName" 
							aria-describedby="FirstName"
							style="max-width: 150px;"/>
				</div>
			</div>

			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- Last Name
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="LastNameText">
						Last
					</span>

					<input type="text"
						   autocomplete="off"
						   class="form-control"
						   placeholder="Last name..."
						   id="LastName"
						   name="LastName"
						   aria-label="LastName"
						   aria-describedby="LastName"
						   style="max-width: 250px;"/>
				</div>
			</div>
		</div>

		<h3 class="border-bottom">Location: </h3>
		<div class="row">
			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- City
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="CityText">
						City
					</span>

					<input type="text"
						   autocomplete="off"
						   class="form-control"
						   placeholder="City..."
						   id="City"
						   name="City"
						   aria-label="City"
						   aria-describedby="City"
						   style="max-width: 150px;"/>
				</div>
			</div>

			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- State
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="StateText">
						State
					</span>

					<select class="form-control"
							id="State"
							name="State"
							aria-label="State"
							aria-describedby="State"
							style="max-width: 150px;">
						<option value="0">Select State...</option>
						@foreach (var c in Model.StateList)
						{
							<option value="@Html.Raw(c.ID)">
								@Html.DisplayFor(modelItem => c.Name) 
								( @Html.DisplayFor(modelItem => c.Abbreviation) )
							</option>
						}
					</select>
				</div>
			</div>

			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- Country
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="CountryText">
						Country
					</span>

					<select class="form-control"
							id="Country"
							name="Country"
							aria-label="Country"
							aria-describedby="Country"
							style="max-width: 150px;">
						<option value="0">Select Country...</option>
						@foreach(var c in Model.CountryList)
						{
							<option value="@Html.Raw(c.ID)">
								@Html.DisplayFor(modelItem => c.PrintableName)
								( @Html.DisplayFor(modelItem => c.ISOCode3) )
							</option>
						}
					</select>
				</div>
			</div>
		</div>


		<h3 class="border-bottom">Date: </h3>
		<div class="row">
			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- DateLostStart
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="DateLostStartText">
						Start
					</span>

					<input type="text"
						   autocomplete="off"
						   class="form-control"
						   placeholder="mm/dd/yyyy"
						   id="DateLostStart"
						   name="DateLostStart"
						   aria-label="DateLostStart"
						   aria-describedby="DateLostStart"
						   style="max-width: 150px;"/>
				</div>
			</div>

			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- DateLostEnd
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="DateLostEndText">
						End
					</span>

					<input type="text"
						   autocomplete="off"
						   class="form-control"
						   placeholder="mm/dd/yyyy"
						   id="DateLostEnd"
						   name="DateLostEnd"
						   aria-label="DateLostEnd"
						   aria-describedby="DateLostEnd"
						   style="max-width: 150px;" />
				</div>
			</div>
		</div>


		<h3 class="border-bottom">Age: </h3>
		<div class="row">
			<div class="col-md-auto">
				<!-- ---------------------------------------------
				-- Age Now
				---------------------------------------------- -->
				<div class="input-group mb-3">
					<span class="input-group-text" id="AgeNowText">
						Age Reported
					</span>

					<select class="form-control"
						   id="AgeStart"
						   name="AgeStart"
						   style="max-width: 50px;">
						<option value="0"></option>
						@foreach (var c in Model.Age)
						{
							<option value="@Html.Raw(c)">
								@Html.DisplayFor(modelItem => c)
							</option>
						}
					</select>
				   
					<span>&nbsp;-&nbsp;</span>

					<select class="form-control"
						   id="AgeEnd"
						   name="AgeEnd"
						   style="max-width: 50px;">
						<option value="0"></option>
						@foreach (var c in Model.Age)
						{
							<option value="@Html.Raw(c)">
								@Html.DisplayFor(modelItem => c)
							</option>
						}
					</select>
				</div>
			</div>
		</div>


		<h3 class="border-bottom">Gender: </h3>
		<div class="row">
			<!-- ---------------------------------------------
			-- Gender
			---------------------------------------------- -->
			<div class="col-md-auto">
				<input class="form-check-input"
					   type="radio"
					   name="GenderRadios"
					   id="GenderAnyRadio"
					   checked="checked"
					   value="0" />
				<label class="form-check-label" for="GenderAnyRadio"> Any </label>

				<input class="form-check-input"
					   type="radio"
					   name="GenderRadios"
					   id="GenderMaleRadio"
					   value="1" />
				<label class="form-check-label" for="GenderMaleRadio"> Male </label>

				<input class="form-check-input"
					   type="radio"
					   name="GenderRadios"
					   id="GenderFemaleRadio"
					   value="2"/>
				<label class="form-check-label" for="GenderFemaleRadio"> Female </label>

				<input class="form-check-input"
					   type="radio"
					   name="GenderRadios"
					   id="GenderUnknownRadio"
					   value="3" />
				<label class="form-check-label" for="GenderUnknownRadio"> Unknown </label>
			</div>
		</div>


		<h3 class="border-bottom">Description: </h3>
		<div class="row">
			<!-- ---------------------------------------------
			-- Ethnicity
			---------------------------------------------- -->
			<div class="col-md-auto">
				<div class="input-group mb-3">
					<span class="input-group-text" id="EthnicityText">
						Ethnicity
					</span>

					<select class="form-control"
							id="Ethnicity"
							name="Ethnicity"
							aria-label="Ethnicity"
							aria-describedby="Ethnicity"
							style="max-width: 150px;">
						<option value="0">Select...</option>
						@foreach (var c in Model.EthnicityList)
						{
							<option value="@Html.Raw(c.ID)">
								@Html.DisplayFor(modelItem => c.Name)
							</option>
						}
					</select>
				</div>
			</div>

			<!-- ---------------------------------------------
			-- Hair Color
			---------------------------------------------- -->
			<div class="col-md-auto">
				<div class="input-group mb-3">
					<span class="input-group-text" id="HairColorText">
						Hair Color
					</span>

					<select class="form-control"
							id="HairColor"
							name="HairColor"
							aria-label="HairColor"
							aria-describedby="HairColor"
							style="max-width: 150px;">
						<option value="0">Select...</option>
						@foreach (var c in Model.HairColorList)
						{
							<option value="@Html.Raw(c.ID)">
								@Html.DisplayFor(modelItem => c.Color)
							</option>
						}
					</select>
				</div>
			</div>

			<!-- ---------------------------------------------
			-- Eye Color
			---------------------------------------------- -->
			<div class="col-md-auto">
				<div class="input-group mb-3">
					<span class="input-group-text" id="EyeColorText">
						Eye Color
					</span>

					<select class="form-control"
							id="EyeColor"
							name="EyeColor"
							aria-label="EyeColor"
							aria-describedby="EyeColor"
							style="max-width: 150px;">
						<option value="0">Select...</option>
						@foreach (var c in Model.EyeColorList)
						{
							<option value="@Html.Raw(c.ID)">
								@Html.DisplayFor(modelItem => c.Color)
							</option>
						}
					</select>
				</div>
			</div>
		</div>


		<!-- ---------------------------------------------
		-- Submit
		---------------------------------------------- -->
		<div class="row">
			<div class="col">

				<button class="btn btn-primary btn-lg"
						id="submitButton"
						type="submit">
					Submit
				</button>
				<button class="btn btn-secondary btn-lg"
						id="resetButton"
						type="reset">
					Reset
				</button>
			</div>
		</div>
	</form>
</div>

<script>
	$(document).ready(function () {
		$('#Country').select2();
		$('#State').select2();

		$("#DateLostStart").datepicker({
			minDate: new Date(),
			numberOfMonths: 2,
			changeMonth: true,
			changeYear: true
		});
		$("#DateLostEnd").datepicker({
			maxDate: new Date(),
			numberOfMonths: 2,
			changeMonth: true,
			changeYear: true
		});
	});
</script>