@model IEnumerable<SNHU.IT700.Application.Models.ForumTopicModel>
@{
    ViewData["Title"] = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="border-bottom">Forums</h2>

<p>
    <a href="Forum/Create" class="btn btn-primary">Create Forum</a>
</p>


<p>@Html.Raw((String)ViewBag.Message)</p>

<p>
    Total Records: @ViewBag.RowCount
</p>
<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>Forum</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="~/Forum/Topic/@Html.Raw(item.Id)" >
                    @Html.DisplayFor(modelItem => item.Topic)
                    ( @Html.Raw(item.PostCount) )
                    </a><br/>
                <span style="font-size: small;">
                    &nbsp;&nbsp;&nbsp;Last Updated By: 
                    @Html.Raw(item.DateUpdatedByName)
                </span>
            </td>
            <td>
                @item.DateUpdated
            </td>
        </tr>
}
    </tbody>
</table>